<h1>Stupid coach interface!</h1>

<!-- <form action="/answer" method="get">
  <input type="text" name="query" placeholder="What is your question?">
  <input type="submit">
</form> -->

<%= @question %>
<p>- You</p>


<%= @answer %>
<p>- Your coach</p>

<%= link_to("Ask another question", "/ask") %>


